.form-group {
    margin-bottom: 15px;
}
.form-group label {
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.form-group input:focus {
    border-color: var(--company-color);
    outline: none;
}
.form-group button {
    padding: 10px 15px;
    color: #fff;
    background-color: var(--company-hover);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.form-group button:hover {
    background-color: var(--company-hover);
}