<div id="code" class="tab-content-item text-area-item" style="display: none;">
    <textarea name="" id="" class="textarea-show" readonly>
        CREATE TABLE "Fud".users(
            id bigserial,
            photo text,
            user_name varchar(200) NOT NULL,
            email varchar(100) NOT NULL,
            password text NOT NULL,
            first_name varchar(30) NOT NULL,
            second_name varchar(30),
            last_name varchar(90) NOT NULL,
            rol_user smallint,
            language varchar(5),
            id_packs_fud int2
          );
      </textarea>
</div>