<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Database Schema Designer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css' ) }}">
</head>
<body>
  <div class="container">
    <div class="left-panel" id="left-panel">
        <div class="tab-container">
            <button class="tab-button" onclick="showTab('diagram')">Diagram data</button>
            <button class="tab-button" onclick="showTab('code')">Postgresql code</button>
            <button class="tab-button" onclick="showTab('settings')">Settings</button>
        </div>

        <div class="tab-content">
            {% include 'partials/database/diagram.html' %}
            {% include 'partials/database/code.html' %}
            {% include 'partials/database/settings.html' %}
        </div>
      <br>
    </div>
    
    <div class="right-panel" id="right-panel">
      <button class="add-table-button" onclick="addTable()">Add Table</button>
      <div class="canvas" id="canvas">
        <!-- Tables will be dynamically added here -->
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='/js/index.js' ) }}"></script>
  <script src="{{ url_for('static', filename='/js/show-divs.js' ) }}"></script>
</body>
</html>
